@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Handlee&family=Itim&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Readex+Pro:wght@200;400;500;600;700&family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');


#root, body, html {
    height: 100%;
    margin: 0;
}

body {
    background: #3B0000;
    background-size: cover;
    /* max-width: 100vw;
    max-height: 100vh; */
}